.root {
  padding: 10px;
}
.wrapper {
  border: 2px solid #e2966d;
  padding: 10px;
}
.emptyMessage {
  padding: 50px;
  min-height: 250px;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}
.selectBox {
  border-color: #e2966d !important;
  width: 100% !important;
}
