.root {
  padding: 10px;
}
.searchBox {
  border: 2px solid #e2966d;
  padding: 10px;
  position: sticky;
  top: 80px;
}
.wrapper {
  min-height: 57vh;
  border: 2px solid #e2966d;
  padding: 10px;
}
.emptyMessage {
  padding: 50px;
  min-height: 250px;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  width: 100%;
}
.selectBox {
  border-color: #e2966d !important;
  width: 100% !important;
}
.searchSubmit {
  width: 100%;
  background-color: #e2966d;
  color: white;
  margin-top: 20px;
  height: 40px;
  text-transform: capitalize;
  font-weight: 700;
  &:hover {
    background-color: #e2966d66;
    color: #e2966d;
    border: 1px solid #e2966d;
  }
}
