.app {
  padding: 100px 0;
}
.logo{
  color: white;
  text-decoration: none;
}
.navbar {
  background-color: #e2966d !important;
}
.footer {
  background: #e2966d;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  p {
    font-weight: 700;
    font-size: 16px;
  }
}
